@model IEnumerable<MyCarier.Models.WorkExprience>

@{
    ViewBag.Title = "Index";
    ViewBag.Header = "Work Experiences";
    ViewBag.HeaderIcon = "building-o";
    ViewBag.NavWorkExp = "w3-blue";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="w3-container w3-padding-16">
    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCurrent)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @(item.StartDate.ToShortDateString())
                    </td>
                    <td>
                        @(item.EndDate?.ToShortDateString())
                    </td>
                    <td>
                        @if(item.IsCurrent)
                        {
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        } else {
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id },
                        new { @class = "btn btn-warning btn-sm" })

                        @Html.ActionLink("Details", "Details", new { id = item.Id },
                        new { @class = "btn btn-info btn-sm" })

                        @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                        new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>